@using Microsoft.AspNetCore.Identity
@using GestionEnseignants.Areas.Identity.Data

@inject SignInManager<GestionEnseignantsUser> SignInManager
@inject UserManager<GestionEnseignantsUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionEnseignants.styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - GestionEnseignants</title>
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container-fluid" style="background-color:#d7d7d7;margin-top:-10px;margin-bottom:-10px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logoProjet.png" height="40px" width="40px" alt="logo" /></a>
                <h3><a class="navbar-brand" asp-area="" id="titleProjet" asp-controller="Home" asp-action="Index"><b><i>GestionEnseignants</i></b></a></h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Departement" asp-action="Index"><b>Departement liste</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Enseignant" asp-action="Index"><b>Enseignant liste</b></a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
        <partial name="_loginPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#e6e6fa">
        <div class="container" >
            <center>
                <span>&copy; 2024 - GestionEnseignants
                    <span style="font-family:Ebrima;margin-top:-150px;"><b>Made with ❤️ by Hamza_Grena</b></span>
                <p </b></p>
            </center>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
