@model GestionEnseignants.Models.Enseignant

@{
    ViewData["Title"] = "Edit";
}

<h4><b>Edit Enseignant</b></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom" class="control-label"></label>
                <input asp-for="prenom" class="form-control" />
                <span asp-validation-for="prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateNais" class="control-label"></label>
                <input asp-for="dateNais" class="form-control" />
                <span asp-validation-for="dateNais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grd" class="control-label"></label>
                <input asp-for="grd" class="form-control" />
                <span asp-validation-for="grd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departementId" class="control-label"></label>
                <input asp-for="departementId" class="form-control" />
                <span asp-validation-for="departementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
